body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-size: smaller;
  font-weight: bold;
}

/*
* Awesome to Work with VSCode. 
* This Editor is Superb. Very Happy with VS Editor. 
* Awesome tool by microsoft
*/
